<p>Hey there!</p>

<p>How exciting - a new player has joined your map, <%= @map.name %>! Check out their token:</p>

<img src="<%= player_token_url(@player) %>.svg" class="token" />

<p>Thanks for playing, and have a great day!</p>


<%= link_to("Open your map!", url_for(@map), class: 'button-link') %>
