/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*
  *= require font-awesome
  */

html,body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
}

:root {
  /* Sizing */
  --toolbarWidth: 3rem;
  --toolWidth: 2rem;

  /* Styling */
  --borderRadius: .25rem;

  /* Colors */
  --whiteRed: #FFB7AA;
  --lightRed: #D47B6A;
  --red: #AA4A39;
  --midRed: #802615;
  --darkRed: #550D00;

  --whiteYellow: #FFD6AA;
  --lightYellow: #D4A16A;
  --yellow: #AA7339;
  --midYellow: #804C15;
  --darkYellow: #552C00;

  --whiteBlue: #6C939F;
  --lightBlue: #457585;
  --blue: #26596A;
  --midBlue: #104050;
  --darkBlue: #022835;

  --whiteGreen: #7CBB92;
  --lightGreen: #4E9C68;
  --green: #297C46;
  --midGreen: #105D2A;
  --darkGreen: #003E15;

  --lightGray: #3b3b3b;
  --midGray: #3c3c3c;
  --gray: #333;
  --darkGray: #232323;
  --shadow: rgba(35,35,35,.5);

  --black: #131313;

  --darkWhite: #c0c0c0;
  --white: #f3f3f3;
}

@import './fonts.scss';
@import './components/form.scss'
