/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,body {
  margin: 0;
  height: 100%;
  width: 100%;
}

:root {
  /* Sizing */
  --toolbarWidth: 48px;

  /* Styling */
  --borderRadius: 4px;

  /* Colors */
  --lightGray: #3b3b3b;
  --midGray: #3c3c3c;
  --gray: #333;
  --darkGray: #232323;

  --darkWhite: #c0c0c0;
}
