:root {
  /* Sizing */
  --toolbarWidth: 3rem;
  --toolWidth: 2rem;

  /* Styling */
  --borderRadius: .25rem;

  /* Colors */
  --whiteRed: #FFB7AA;
  --lightRed: #D47B6A;
  --red: #AA4A39;
  --midRed: #802615;
  --darkRed: #550D00;

  --whiteYellow: #FFD6AA;
  --lightYellow: #D4A16A;
  --yellow: #AA7339;
  --midYellow: #804C15;
  --darkYellow: #552C00;

  --whiteBlue: #EBEFF1;
  --blueWhite: #D7E0E3;
  --lightestBlue: #9CB3BB;
  --lightBlue: #457585;
  --blue: #26596A;
  --midBlue: #104050;
  --darkBlue: #022835;

  --whiteGreen: #7CBB92;
  --lightGreen: #4E9C68;
  --green: #297C46;
  --midGreen: #105D2A;
  --darkGreen: #003E15;

  --gray-0: #EDEDED;
  --gray-1: #C0C0C0;
  --gray-2: #B7B7B7;
  --gray-3: #505050;
  --gray-4: #3b3b3b;
  --gray-7: #3c3c3c;
  --gray-8: #333;
  --gray-9: #232323;
  --shadow: rgba(35,35,35,.5);

  --black: #131313;
  --white: #f3f3f3;
}

$backgrounds: red, yellow, blue, green, lightestGray, lightGray, midGray, gray, darkGray, shadow, black, darkWhite, white;
@each $bg in $backgrounds {
  .bg-#{$bg} {
    background-color: var(--#{$bg});
  }
}
