:root {
  /* Sizing */
  --toolbarWidth: 3rem;
  --toolWidth: 2rem;

  /* Styling */
  --borderRadius: .25rem;

  /* Colors */
  --whiteRed: #FFB7AA;
  --lightRed: #D47B6A;
  --red: #AA4A39;
  --midRed: #802615;
  --darkRed: #550D00;

  --whiteYellow: #FFD6AA;
  --lightYellow: #D4A16A;
  --yellow: #AA7339;
  --midYellow: #804C15;
  --darkYellow: #552C00;

  --whiteBlue: #6C939F;
  --lightBlue: #457585;
  --blue: #26596A;
  --midBlue: #104050;
  --darkBlue: #022835;

  --whiteGreen: #7CBB92;
  --lightGreen: #4E9C68;
  --green: #297C46;
  --midGreen: #105D2A;
  --darkGreen: #003E15;

  --lightestGray: #505050;
  --lightGray: #3b3b3b;
  --midGray: #3c3c3c;
  --gray: #333;
  --darkGray: #232323;
  --shadow: rgba(35,35,35,.5);

  --black: #131313;

  --darkWhite: #c0c0c0;
  --white: #f3f3f3;
}

$backgrounds: red, yellow, blue, green, lightestGray, lightGray, midGray, gray, darkGray, shadow, black, darkWhite, white;
@each $bg in $backgrounds {
  .bg-#{$bg} {
    background-color: var(--#{$bg});
  }
}
