$toolBarWidth: 48px;

.map-root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-bar {
  display: flex;
  flex-grow: 1;
  height: 0;

  .map {
    background-color: #F0F0F0;
    flex-grow: 1;
  }
}

.clickable-svg {
  cursor: pointer;
}
