@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url('/webfonts/SourceSansPro-LightItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('/webfonts/SourceSansPro-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url('/webfonts/SourceSansPro-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url('/webfonts/SourceSansPro-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('/webfonts/SourceSansPro-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('/webfonts/SourceSansPro-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('/webfonts/SourceSansPro-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('/webfonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'TeX Gyre Bonum';
  font-weight: 700;
  src: url('/webfonts/texgyrebonum-bold.otf') format('opentype');
}
@font-face {
  font-family: 'TeX Gyre Bonum';
  font-style: italic;
  font-weight: 700;
  src: url('/webfonts/texgyrebonum-bolditalic.otf') format('opentype');
}
@font-face {
  font-family: 'TeX Gyre Bonum';
  font-weight: 400;
  src: url('/webfonts/texgyrebonum-regular.otf') format('opentype');
}
@font-face {
  font-family: 'TeX Gyre Bonum';
  font-weight: 400;
  font-style: italic;
  src: url('/webfonts/texgyrebonum-italic.otf') format('opentype');
}
