<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MakeHex</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'outofapp', media: 'all' %>

    <%= yield :head_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
