<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag 'email' %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <a href="https://www.makehex.com">
          <%= image_tag 'logo.svg', class: 'logo' %>
          <span>MakeHex</span>
        </a>
      </div>
      <div id="content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
